    <div class="top-panel">
      <h3>My Calendar {{currentYear}} </h3>
    </div>
    <hr>
    <div class="row">
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#/createleave" aria-expanded="false" aria-controls="collapseExample">Add Leave</a>
      <a class="btn btn-primary" role="button" ng-click="last()" ><</a>&nbsp;{{currentYear}}&nbsp;<a class="btn btn-primary" ng-click="next()" role="button" >></a>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <tr ng-repeat="month in months">
            <td>{{getMonthLabel(month)}}</td>
            <td ng-repeat="day in month" ng-class="getCssClass(day)">{{day.day}}</td>
          </tr>
        </table>
      </div>
    </div>
