    <div class="top-panel">
      <h3>My Calendar</h3>
    </div>
    <hr>
    <div class="row">
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#/createleave" aria-expanded="false" aria-controls="collapseExample">Add Leave</a>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td></td>
            <td>01</td>
            <td>02</td>
            <td>03</td>
            <td>04</td>
            <td>05</td>
            <td>06</td>
            <td>07</td>
            <td>08</td>
            <td>09</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
          </tr>
          <tr>
            <td>January</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>February</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>March</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>April</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>May</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>June</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>July</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>August</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>September</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>October</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>November</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
          <tr>
            <td>December</td>
            <td class="leave"></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="day-off"></td>
            <td class="day-off"></td>
          </tr>
        </table>
      </div>
    </div>
